---
import "@/styles/global.css";
import { marked } from "marked";

import Layout from "../layouts/Layout.astro";
import content from "../content/pages/home.json";
import { Button } from "@/components/ui/button";

const { title, body, disclaimer } = content;
---

<Layout title="The Veteran Culture Project" isLandingPage={true}>
  <main
    class="flex flex-col container mx-auto text-slate-100 justify-center px-4"
  >
    <div
      class="container mx-auto prose prose-headings:font-display md:prose-xl prose-invert py-6 prose-headings:font-light"
      set:html={marked.parse(body)}
    />
    <div class="flex sm:m-12 justify-center">
      <a class="flex" href="/survey"
        ><Button
          className="bg-gradient-to-r from-violet-700 to-purple-500 sm:text-3xl text-xl font-bold rounded-lg sm:p-6 p-4 font-display"
        >
          TAKE THE SURVEY
        </Button>
      </a>
    </div>
    <div class="flex justify-center">
      <p class="flex p-8 text-center text-slate-400 italic max-w-prose">
        {disclaimer}
      </p>
    </div>
  </main>
</Layout>
