---
import "@/styles/global.css";
import { marked } from "marked";

import Layout from "../layouts/Layout.astro";
import content from "../content/pages/home.json";
import { Button } from "@/components/ui/button";

const { title, body, disclaimer } = content;
---

<Layout title="The Veteran Culture Project" isLandingPage={true}>
  <main
    class="flex flex-col container mx-auto dark:text-slate-100 justify-center px-4"
  >
    <article
      class="container mx-auto prose prose-headings:font-display md:prose-xl dark:prose-invert py-6 prose-headings:font-light prose-zinc"
      set:html={marked.parse(body)}
    />
    <div class="flex flex-col m-12 justify-center items-center">
      <Button
        className="flex sm:text-3xl text-xl font-bold rounded-lg sm:p-8 font-display p-6 max-w-fit"
      >
        <a class="flex" href="/survey">TAKE THE SURVEY </a>
      </Button>
      <div class="flex justify-center">
        <p class="flex p-8 text-center italic max-w-prose">
          {disclaimer}
        </p>
      </div>
    </div>
  </main>
</Layout>
