---
import { marked } from "marked";
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import content from "@/content/pages/team.json";
import { TeamMemberCard } from "@/components/TeamMemberCard";

const { body } = content;

const members = await getCollection("teamMembers");
---

<Layout title="Team - The Veteran Culture Project" isLandingPage={false}>
  <main
    class="flex flex-col container mx-auto dark:text-slate-100 justify-center p-4"
  >
    <h1 class="text-3xl font-bold text-center">Our Team</h1>
    <div
      class="container mx-auto prose prose-zinc prose-headings:font-display md:prose-xl dark:prose-invert py-6 prose-headings:font-extralight"
      set:html={marked.parse(body)}
    />
    <div class="flex items-stretch mx-auto h-full flex-wrap justify-center">
      {members.map((m) => <TeamMemberCard {...m.data} client:load />)}
    </div>
  </main>
</Layout>
